 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .clearfix::after {
    content: "";
    display: table;
    clear: both;
 }


 body{
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
 }

 .left-container {
    height: 100vh;
    background-image: linear-gradient(#0277bd, #03a9f4);
    background-position: center;
    background-size: cover;
    position: relative;
 }

 .right-container {
    height: 100vh;
    width: 100%;
    position: relative;
 }

 .header {
    font-weight: 22px;
    font-size: 36px;
 }

 .sub-text{
    font-size: 22px;
 }